dist: trusty
sudo: false
language: r
cache: packages

env:
  - _R_CHECK_LENGTH_1_CONDITION_=true

addons:
  apt:
    packages:
      - libopenmpi-dev
      - openmpi-bin

r:
  - oldrel
  - release
  - devel

r_packages:
  - covr
  - Rmpi

after_success:
  - if [[ "${TRAVIS_R_VERSION_STRING}" == "release" ]]; then Rscript -e 'covr::coveralls()'; fi
