#!/bin/bash
<%
inner.backend = resources$inner.backend %??% "sequential"
inner.ncpus = resources$inner.ncpus %??% 1L
walltime = asInt(resources$walltime, lower = 1L, upper = 172800L)
memory = asInt(resources$memory, lower = 100L, upper = 64000L)

if (inner.backend == "mpi") {
  cmd = "mpirun -np 1 Rscript"
  mincpus = 2L
} else {
  cmd = "Rscript"
  mincpus = 1L
}
-%>

#SBATCH --job-name=<%= job.hash %>
#SBATCH --output=<%= log.file %>
#SBATCH --error=<%= log.file %>
#SBATCH --time=<%= ceiling(walltime / 60L)%>
#SBATCH --ntasks=<%= if (inner.backend == "mpi") inner.ncpus else 1L %>
#SBATCH --mincpus=<%= mincpus %>
#SBATCH --cpus-per-task=<%= if (inner.backend != "mpi") inner.ncpus else 1L %>
#SBATCH --mem-per-cpu=<%= memory %>
#SBATCH --partition=all

mkdir /tmp/${USER}-${SLURM_JOBID}
export TMPDIR=/tmp/${USER}-${SLURM_JOBID}
source /etc/profile
<%= cmd %> -e 'batchtools::doJobCollection("<%= uri %>")'
rm -rf /tmp/${USER}-${SLURM_JOBID}
