options(error = function() { traceback(2L); quit(save = "no", status = 1L) })

res = batchtools::execJob("<%= job %>")
saveRDS(res, file = "<%= result %>")
quit(save = "no", status = 0L)

# vim: ft=r
