options(warn = 1L, error = function() { traceback(2L); quit(save = "no", status = 1L) })
Sys.setenv(DEBUGME = "<%= Sys.getenv('DEBUGME') %>")
requireNamespace("batchtools", quietly = TRUE)
jc = readRDS("<%= jc %>")
batchtools:::loadRegistryDependencies(jc)
res = batchtools::execJob(jc)
saveRDS(res, file = "<%= result %>")
quit(save = "no", status = 0L)

# vim: ft=r
